@using static zapatillas1.zapatillas1.Models.Carrito;

@{
    ViewData["Title"] = "Mi Bolsa - Finaliza tu Compra!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // usando Carrito estatico

    ViewBag.ListaProductos = Carrito.bolsaCompra;
    ViewBag.totalPrecio = Carrito.getPrecioTotalItems();

}



<div class="text-center bag-head">
    <h1> Mi Bolsa <i class="fas fa-shopping-bag"></i></h1>
</div>


<div class="row text-center">

    <div class="col-md-12 text-center">

        @foreach (var item in ViewBag.ListaProductos)
        {
            <div class="bag-item"> @item.Cod_producto | @item.Descripcion | $ @item.Precio <a class="btn btn-info"
                asp-action="Remover" asp-route-id="@item.Id">X</a>
            </div>
            <br />
        }

        <h4>Total : $ @ViewBag.totalPrecio</h4>

        <a class="btn btn-success">Finalizar mi
            Compra!</a>
    </div>



    <hr />



</div>
