@model zapatillas1.zapatillas1.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">


    <div class="row align-items-start">
        <div class="col-md-12">
            <h2>@Html.DisplayFor(model => model.Descripcion)</h2>
        </div>
        <div class="col-md-6">
            <img src="~/img/@Html.DisplayFor(model => model.Foto)" class="foto-details">
        </div>
        <div class="col-md-6">

            <div class="product-data">
                <h4>@Html.DisplayFor(model => model.Descripcion)</h4>
                <h3>Precio: $ @Html.DisplayFor(model => model.Precio)</h3>

                <input type="text" value="" id="id-producto" hidden>

            </div>

            <div class="talles">
                <p><span class="form-control-label">Talles Disponibles</span></p>

                <select name="talle-zapa" id="talle-zapa">
                    <option value="ingrese-talle"> - Elegi tu talle - </option>
                    @foreach (var item in @ViewBag.totalTalles)
                    {
                        <option value="@item.Talle">@item.Talle</option>

                    }
                </select>
                <div class="cant-items-div">

                </div>
                <hr>
                @* cantidades *@
                <div class="cant-items-div">
                    @* traer esta cantidad via ajax - para el id y talle *@
                    <h4>Comprar Cantidad: </h4>
                    <div id="cant-zapadiv">
                    </div>
                </div>

                <br />

                <hr>

                <div class="add-to-cart-btn">
                    <a class="btn btn-success btn-white" id="link-agregar">
                        Agregar A Mi Bolsa!
                    </a>
                </div>

                <input type="text" id="cod-producto" hidden value="@Html.DisplayFor(model => model.Cod_producto)">

            </div>

        </div>
    </div>
</div>
