@model IEnumerable<zapatillas1.zapatillas1.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <h4>@Html.DisplayFor(modelItem => item.Descripcion)</h4>
                <img src="~/img/@Html.DisplayFor(modelItem => item.Foto)" class="foto-zapatilla">
                <p>Precio @Html.DisplayFor(modelItem => item.Precio)</p>
           
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>    
             </div>

         }
</div>


