@{
    ViewData["Title"] = "Historial Ventas";

}
<h3>Buscar Historial por Modelo y Talle: </h3>
<hr>
<div class="row">
    <select name="select-producto-id" id="select-producto-id">
        <option value="-1"> - Elegi el Modelo -</option>
        @foreach (var item in ViewBag.totalProductos)
        {
            <option value="@item.Id"> @item.Cod_producto - Talle: @item.Talle</option>
        }
    </select>
    <br />
</div>
<div class="btn-historial">
    <a id="buscar-historial-modelo" class="btn btn-success">Buscar </a>
</div>


<br />

<hr>

<h3>Historial de Ventas</h3>
<p>(todos los modelos)</p>


<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Fecha</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ventas)
        {
            <tr>
                <td>
                    @item.Descripcion
                </td>
                <td>
                    @item.Fecha
                </td>
                <td>
                    $ @item.MontoTotal
                </td>
            </tr>
        }
    </tbody>
</table>
