@{
    ViewData["Title"] = "Historial Ventas";

}

<h3>Historial de Ventas</h3>
<h3>@ViewBag.Producto.Descripcion</h3>
<div class="row">
    <div class="card" style="width: 25%;">
        <div class="card-body">
            <h6 class="card-title">Id Producto: @ViewBag.Producto.Id</h6>
            <h6 class="card-title">Codigo: @ViewBag.Producto.Cod_producto</h6>
            <h6 class="card-subtitle mb-2">Talle: @ViewBag.Producto.Talle</h6>
            <h6 class="card-subtitle mb-2">Precio: $ @ViewBag.Producto.Precio</h6>
            <hr />
            <h5 class="card-subtitle mb-2">Cant. en Stock: @ViewBag.Producto.Cantidad</h5>

            <img src="~/img/@ViewBag.Producto.Foto" class="foto-stock">

        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Unidades Vendidas</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ventas)
        {
            <tr>
                <td>
                    @item.CantVenta
                </td>
                <td>
                    @item.Fecha
                </td>

            </tr>
        }
    </tbody>
</table>
